
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #444;
    text-align: center;
}
#stopName {
    font-size: 1.5em;
    color: #555;
    text-align: center;
    font-weight: 400;
}
h2 {
    font-size: 1em;
    margin-bottom: 20px;
    color: #444;
    text-align: center;
}
.table-container {
    width: 100%;
    overflow-x: auto;
}
table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}
#slider-container {
    margin-bottom: 20px;
}
#switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    text-align: center;
}
#switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
#slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}
#slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + #slider {
    background-color: #007BFF;
}
input:checked + #slider:before {
    transform: translateX(20px);
}
.wobble {
    animation: wobble 0.5s infinite !important;
}
@keyframes wobble {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}
@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    h1 {
        font-size: 1.5em;
    }
    th, td {
        padding: 8px;
    }
    #sliderContainer {
        flex-direction: column;
    }
    .switch {
        width: 30px;
        height: 15px;
    }
    #slider:before {
        width: 11px;
        height: 11px;
        transform: translateX(0);
    }
    input:checked + #slider:before {
        transform: translateX(15px);
    }
}
.SEA {
    color: green;
}

.SDA {
    color: rgb(180, 180, 0);
}
.LSD {
    color: red;
}
.SEA.override,
.SDA.override,
.LSD.override {
    color: black;
}
