.error {
    background-color: red;
    font-size: 0.9em;
}
input[type="submit"] {
    font-size: 1.2em;
    padding: 10px;
    width: 260px;
    font-weight: 900;
}
input[type="tel"] {
    font-size: 1em;
    padding: 10px;
    width: 180px;
    font-weight: 400;
}