body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
h1 {
    color: #333;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}
input[type="tel"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color 0.3s, border-color 0.3s;
}
input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
.error {
    color: #d9534f;
    font-size: 0.9em;
    display: none;
    margin-top: 5px;
    margin-bottom: 5px; 
    text-align: left;
    padding: 5px 10px;
    border: 1px solid #d9534f;
    border-radius: 5px;
    background-color: #f2dede;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.input-error {
    border-color: #d9534f;
    background-color: #f2dede; 
}
.flash {
    animation: flash-animation 0.3s ease;
}
@keyframes flash-animation {
    0% { background-color: #007BFF; }
    50% { background-color: #ffdddd; }
    100% { background-color: #007BFF; }
}
/* .bookmarks {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    max-width: 350px;
    width: 80%;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: center;
} */
.stop {
    text-align: left;
    cursor: pointer;
}
.stop:hover {
    font-weight: bold;
}
.code:hover {
    text-decoration: line-through;
}